<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
  <title>IRR calculatore page 3</title>
</head>

<body>
<div class="container mt-5">

	<div class="text-center">
		<h3>the calculated IRR value</h3>
		<h1 class="text-primary">{{irr_1}} %</h1>
	</div>

	<div class="text-center mb5 mt-5">
		<form action="/startover" method="POST">
			<input class="btn btn-success" type="submit" value="startover">
		</form>
	</div>



</div>
</body>
</html>
  